---
layout: default
title: Henyue's Timeline...
---
<!doctype html>
<html>
    <head>
        <style type="text/css">td img {display: block;}</style>
        <meta http-equiv="Page-Enter" content="revealTrans(Duration=5, Transition=22)">
        <link rel="stylesheet" type="text/css" href="themes/default/style.css">
    </head>
    <body>
        <table border=1 height="480px">
            <tr>
                <td width="320px">
                    {% include main.html %}
                </td>
                <td width="150px">
                    <p>Latest Article</p>
                    <ul>
                        {% for post in site.posts %}
                            <li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}" target="log">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </body>
</html>