<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/themes/default/style.css">
    </head>
    <body>
        <table border=0 height="480px" width="320px" align="center">
            <tr>
                <td>
                    <a href="{{ site.baseurl }}">Home</a>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <div class="font">{{ content }}</div>
                </td>
            </tr>
        </table>
    </body>
</html>