BODY {
background-repeat: repeat;
margin-left: 2px;
margin-top: 2px;
margin-right: 2px;
margin-bottom: 2px;
/*overflow-y: hidden;*/
overflow-x: hidden;
color: #000000;
font-family: "Microsoft Yahei";
font-size: 8pt;
BACKGROUND-ATTACHMENT: fixed;
BACKGROUND-POSITION:left; }

A {
	COLOR: blue; BORDER-BOTTOM: 1px dotted; TEXT-DECORATION: none
}
.A {COLOR: blue; BORDER-BOTTOM: none; TEXT-DECORATION: none;FILTER: dropshadow(color=#000000, offx=1, offy=1, positive=1)}

TABLE {
	FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: "Microsoft Yahei", ËÎÌå, Verdana, sans-serif;
}

INPUT {FONT-SIZE: 8pt; FONT-FAMILY: "Microsoft Yahei";background-color:transparent;color:#000000; border-bottom:1px solid #DEDBEF; border-top:none; border-left:none; border-right:none}
.INPUT2 {FONT-SIZE: 8pt; FONT-FAMILY: "Microsoft Yahei";background-color:transparent;color:#000000; border:none;}

textarea {
	border:1px dotted #DEDBEF;
	background-color:rgb(235, 235, 228);/*transparent;*/
	font-size:9pt;
	font-family:"Microsoft Yahei";
	resize:none;
	width:50%;
	/*overflow-y: hidden;
	overflow-x: hidden;*/
}

.commandline {
	color:#00FF00;
	background-color:black;
	padding: 5px; 
	box-shadow: 3px 3px 2px #999999;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.screenshot {
	border: 1px dotted #999999;
	box-shadow: 3px 3px 2px #999999;
}

.select {
	border:none;
	overflow:hidden;
	display:inline-block;
}
Select {
	position: relative;
        background-color:#BAC5D9;
	left:-3px;
	top:-3px;
	margin-right:-6px;
	margin-bottom:-6px;
}


.font {
FILTER: dropshadow(color=#999999, offx=1, offy=1, positive=1); FONT-FAMILY: "Microsoft Yahei"; FONT-SIZE: 9pt; width: 100%; COLOR: #000000;}

.STYLE2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
}
.STYLE3 {
font-family: ËÎÌå;
font-size:12;
color: #FFFFFF;}

.touming {filter: alpha(opacity=70)}

.code 
{filter:alpha(opacity=70);font-family:Verdana,Courier,Courier New,mono;font-size:8pt; line-height:9pt;color:#000000;background-color:#ffffff;margin:none;width:95%;border:1px solid #000000;}
